/* html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {

  }

  /*make this a div or something
  /* body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images/backgorund.png");
    background-repeat: no-repeat;
  } */
